.custom-nav-class {
    background-color: #D03F2E;
    z-index: 999999999999999999999999;
    a {
        color: #ffffff;
        &:hover {
            color: #ffffff;
            background-color: rgb(212, 90, 76);
        }
    }
    .active>.nav-link {
        font-weight: 700;
        color: #ffffff;
    }
    ul {
        margin:0 55px 0px 0px!important;
        width: 100%;
        position: relative; 
    }
    
}
.profile-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    .icon {
        font-size: 20px;
    }
}
.logged {
    .dropdown-item {
        color: #D03F2E;
    }
}