<nav class="navbar fixed-top navbar-expand-lg navbar-dark custom-nav-class text-main">
    <a class="navbar-brand" [routerLink]="['/']">NewsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Home</a>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a class="nav-link profile-button" (click)="register()"> Register Profile</a>
        </li>
        <li class="nav-item dropdown profile-button logged" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle icon" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i> <strong> {{currentUser.username}} </strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="register()">Edit Profile</a>
            <a class="dropdown-item" (click)="remove()">Remove</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
