/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-main{
    color: #233974;
}
.mat-app-background {
    background-color: #ffffff;
}
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
.modal-content {
    margin-top: 50px;
}
.red {
    color: #D03F2E
}